.form {
    width: 82%;
 &__content {
     margin: 23% 0;
 }

 &__group:not(last-child) {
    margin-bottom: 2rem;
 }

 &__input {
    width: 100%;
    margin-left: 10%;
    padding: 1.3rem;
    background-color: #F6F6F6;
    border: none;
    border-radius: 0.5rem;
    outline: none;
 }
}

.form-header {
    width: 100%;
    h2 {
        color: #15938F;
        text-align: center;
        margin-top: 15%;
    }

    p {
        margin: 8% 34%;
        font-size: 1.4rem;
        font-weight: 300;
        width: 100%;
    }
}

.password-reset {
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 46%;
    margin-top: 9%;
}

.button {
    margin-top: 10%;
    margin-left: 45%;
    padding: 0.6rem 5rem;
    border-radius: 0.5rem;
    background-color: #15938F;
    color: #fff;
}
.button:focus{
    outline: none;
}