.report-container {
    position: absolute;
    top: 24%;
    left: 33%;
    transform: translate(-20%, -20%);
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.14);
    width: 80%;

    &__sold{
        border-radius: 5px;
        margin-top: 210px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        width: 35%;
        margin-left: 31%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    }

    &__remaining{
        border-radius: 5px;
        margin-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        width: 26%;
        margin-left: 36%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    }
}

.btn-history {
    background-color: #16938e;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    position: absolute;
    top: 85%;
    left: 40px;
    outline: none;
    cursor: pointer;
}

.btn-sell {
    background-color: #16938e;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: 85%;
    left: 80%;
    cursor: pointer;
}

.btn-sell:focus {
    outline: none;
}

.margin-top {
    margin-top: 367px;
}
.kg-input {
    width: 93%;
    margin: 5px 12px;
    padding: 1rem;
    background-color: #F6F6F6;
    border: none;
    border-radius: 0.2rem;
    outline: none;
}

.report {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
}

.bags {
    font-size: 1.2rem;
    width: 50%;
    border: 1px solid #6200ea;
    border-radius: 5px;
    font-weight: bold;
    padding: 20px;
}

.money {
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #28a745;
    font-weight: bold;
    padding: 20px;
    margin-left: 10px;
    width: 50%;
}

.backColor {
    border: 1px solid #d39e00;
    // background-color: #117a8b;
    margin-left: 10px;
}

.bags-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.move-down {
    margin-top: 5%;
}

.move-left{
    margin-left: 6.5rem;
}

.move-up{
    margin-top: -5%;
}

.filters {
    width: 60%;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.14);
    position: absolute;
    left: 20%;
    top: 3%;
    padding-top: 20px;
}

.sold_and_remaining {
    width: 100%;
}

.report_cards {
    display: flex;
}

.report-by-date {
    display: flex;
    margin-bottom: 10px;
}

.radio-style{
    display: flex;
    margin-left: 30px;
    outline: none;
    outline-style: none;
    border: transparent;
}

input[type="radio"]{
    margin-right: 10px;
}

input[type="radio"]:focus{
    outline: none;
}
